@inherits LayoutComponentBase

<header class="bg-primary text-white p-3">
    <span class="h1">
        Stoic Handbook
    </span>
</header>

<main class="">
    @Body
</main>

<footer class="bg-dark text-white text-center p-3 mt-auto">
    foot doc
</footer>
